<div class="card mt-3">
	<div class="card-header">Lista Perfiles</div>
	<div class="card-body">
		<ng-template ngxPermissionsOnly="ROLE_ADMIN">
			<div class="my-2 text-left">
		      <button class="btn btn-rounded btn-success" type="button" [routerLink]="['/perfil/form']">
		        Registrar Perfil
		      </button>
	    	</div>
    	</ng-template>
		<table class="table table-bordered">
		    <thead>
		      <tr>
		        <th scope="col">Descricpion</th>
		        <th scope="col" class="acciones">Acciones</th>
		      </tr>
		    </thead>
		    <tbody>
		      <tr  scope="row" *ngFor="let u of perfil">
		        <td>{{u.descripcion}}</td>
		        <td class="acciones">
		        	<ng-template ngxPermissionsOnly="ROLE_ADMIN">
		           	  <button type="button" class="btn btn-sm btn-primary"
		           	  [routerLink]="['/perfil/form', u.id]" >Editar</button>
			        </ng-template>
		           	<ng-template ngxPermissionsOnly="ROLE_ADMIN">
		           	  <button type="button" class="btn btn-sm btn-danger" (click)='delete(u)'>Borrar</button>
			        </ng-template>
		        </td>
		      </tr>
		    </tbody>
		</table>
	</div>
</div>