<div class="card mt-3">
  <div class="card-header">Registrar Rol</div>
  <div class="card-body">
    <form>

      <input type="hidden" class="form-control" [(ngModel)]="rol.id" name="id">
      
      <div class="form-group">
        <label>Descripcion</label>
        <input type="text" class="form-control" [(ngModel)]="rol.descripcion" name="descripcion">
      </div>

      <button class="btn btn-primary" role="button" (click)='create()' *ngIf="!rol.id else elseBlock">Crear Rol</button>

      <ng-template #elseBlock>
        <button class="btn btn-primary" role="button" (click)='update()' >Actualizar Rol</button>
      </ng-template>        

    </form>

  </div>
</div>
