<div class="card mt-3">
  <div class="card-header">Registrar Usuario</div>
  <div class="card-body">
    <form>
      
      <div class="form-group">
        <label>Usuario</label>
        <input type="text" class="form-control" [(ngModel)]="usuario.usuario" name="usuario">
      </div>

      <div class="form-group">
        <label>Nombre</label>
        <input type="text" class="form-control" [(ngModel)]="usuario.nombre" name="nombre">
      </div>

      <div class="form-group">
        <label>Email</label>
        <input type="text" class="form-control" [(ngModel)]="usuario.email" name="email">
      </div>

      <div class="form-group">
        <label>Clave</label>
        <input type="text" class="form-control" [(ngModel)]="usuario.clave" name="clave">
      </div>

      <button class="btn btn-primary" role="button" (click)='create()' *ngIf="!usuario.usuario else elseBlock">Crear Usuario</button>

      <ng-template #elseBlock>
        <button class="btn btn-primary" role="button" (click)='update()' >Actualizar Usuario</button>
      </ng-template>        

    </form>

  </div>
</div>
