<div class="card mt-3">
	<div class="card-header">Lista Usuarios</div>
	<div class="card-body">
		<ng-template ngxPermissionsOnly="ROLE_OTRO">
			<div class="my-2 text-left">
		      <button class="btn btn-rounded btn-primary" type="button" [routerLink]="['/usuarios/formulario']">
		        Registrar Usuario
		      </button>
	    	</div>
    	</ng-template>
		<table class="table table-bordered table-hover">
		    <thead class="thead-light">
		      <tr>
		        <th scope="col">Usuario</th>
		        <th scope="col">Nombre</th>
		        <th scope="col">Email</th>
		        <th scope="col">Acciones</th>
		      </tr>
		    </thead>
		    <tbody>
		      <tr  scope="row" *ngFor="let u of usuario">
		        <td>{{u.usuario}}</td>
		        <td>{{u.nombre}}</td>
		        <td>{{u.email}}</td>
		        <td>
		           
		        </td>
		      </tr>
		    </tbody>
		</table>
	</div>
</div>