<div class="card mt-3">
  <div class="card-header">Iniciar Sesión</div>
  <div class="card-body">
<form>
  <div class="form-group">
    <label>Usuario</label>
    <input type="text" class="form-control" placeholder="Digite el usuario" [(ngModel)]="user.usuario" name="usuario">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <div class="form-group">
    <label>Clave</label>
    <input type="password" class="form-control" placeholder="Digite la Clave" [(ngModel)]="user.clave" name="clave">
  </div>
  <div class="form-group">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div>
  <button type="submit" class="btn btn-primary" (click)="Login()">Iniciar Sesión</button>
</form>
</div>
</div>